@import '~vue-material/dist/vue-material.css';
.page-container {
    width: 100%;
    height:100%;
    background-color: red;
}
 .md-app {
  height:100%;
    border: 1px solid rgba(#000, .12);
  }

  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
   
.md-content {
    display: flex !important;
    height: 100%;
}

#notebook {
    display: flex;    
}
.main{
    width: 50%;
    height: 100%;
}

.preview{
    width: 50%;
    background: #eceff1;
    height:100%;
}

.md-field.md-has-textarea:not(.md-autogrow) .md-textarea {
    min-height:400px !important;
}
.md-textarea{
    width: 100%;
     
}
button{
    margin-bottom:20px;
    color: #fff;
}
/* sidebar */
.md-button-content{
    font-size:16px !important;
}

.md-button-content{
    padding: 0 18px !important; 
}
.notes {
    position: absolute;
}
.note {
    cursor: pointer;
    color: #333;
}

.favorite-icon-sidebar{
    position: relative
}

.marker-icon {
    color: #e53935;
    margin-right: 8px;
}

#fav-icon{
    color: #ff9100;
    margin-left: 15px;
}

.sidebar-icon{
    color: #333;
}

/* ends here */
.selected {
    background-color: #eceff1;
    color: white;
    padding: 10px;
    margin-right: 15px;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.md-icon.md-theme-default.md-icon-font  {
    color: #fff !important;
}
/* input {
    background-color: #fff;
    margin-left: 30px;
    box-shadow: none;
    border: none;
    height: 30px;
    width: 350px;
    padding:5px;
} */

.oneBtn{
    background-color: #ff9100;
    color: #fff;
    border:none;
    padding: 6px;
    font-size:20px;
    font-weight: 600;
    margin-right:5px;
}


.twoBtn{
    background-color: #e53935;
    color: #fff;
    border:none;
    padding: 6px;
    font-size:20px;
    font-weight: 600;
    margin-right:5px;
}

.threeBtn{
    background-color: #f48fb1;
    color: #fff;
    border:none;
    padding: 6px;
    font-size:20px;
    font-weight: 600;
    margin-right:5px;
}
.toolbar-bottom{
    position: absolute;
}
.date{
    position: relative;
    bottom:50px;
    padding: 5px;
}
.lines{
    position: relative;
    bottom:50px;
    padding: 5px;
}
.date{
    position: relative;
    bottom:50px;
    padding: 5px;
}
.characters{
    position: relative;
    bottom:50px;
    padding: 5px;  
}

.value{
    color: #e53935;
    font-weight: bold;
    padding-left:3px;
}

/* .preview-icon{
    display: none;    
} */

.md-title{
    text-align: center;
    margin-top: 15px;
}

.preview-icon-sm {
    display:none;
}

 /* responsiveness */
 @media screen and (max-width:768px){
    .main{
        width: 100%;
        height: 100%;
    }
    
    .preview{
        width: 90%;
        background: #eceff1;
        /* height:100%; */
        /* display: none; */
        position: absolute;
        z-index:1;
        padding: 8px;
    }

    
    .lines{
        position: relative;
        bottom:50px;
        padding: 5px;
        font-size: 10px;
    }
    .date{
        position: relative;
        bottom:50px;
        padding: 5px;
        font-size: 10px;
    }
    .characters{
        position: relative;
        bottom:50px;
        padding: 5px; 
        font-size: 10px; 
    }
    
    .value{
        color: #e53935;
        font-weight: bold;
    }
    
    .preview-icon-sm{
      display: inline;  
      font-size:20px;
      margin-left: 15px;
    }
    .previewB {
        position: relative;
        bottom:50px;
        padding: 4px; 
        font-size: 10px;   
    }

    .md-title{
        font-size: 15px;
    }
    .threeBtn {
        display: none
    }
 }